.navbar{
    width: 100%;
    height: 8vh;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    object-fit: contain;
    height: 95%;
}
.logo__mobile{
    object-fit: contain;
    height: 80%;
    width: 40%;
    display:none;
}
.endclass__button{
    height: 40px;
    width: 120px;

    border-width: 0;
    border-radius: 5px;
    background-color:#ff5a43;

    cursor: pointer;

    color: #fff;
}

.menu__icon{
    color:#ff5a43;
}

.menu__icon{
    display: none;
}

.button__timer{
    display: flex;

    align-items: center;
}
.link{
    text-decoration: none;
    color: #111;
    cursor: pointer;
}
.link:hover{
    color:#ff5a43
}

@media (min-width: 320px) and (max-width: 480px) { 
    .navbar{
        padding: 0 10px;
    }   
    .logo{
        display:none;
    }
    .logo__mobile{
        display:block;
    }

    .endclass__button{
        display: none;
    }

    .menu__icon{
        display: block;
    }

    .link{
        display: none;
    }
    
}